.react-toast-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: transparent;
    z-index: 1999;
}

.react-toast-message {
    display: inline-block;
    max-width: 80%;
    min-width: 95px;
    line-height: 1.5;
    padding: 9px 15px;
    box-sizing: border-box;
    text-align: center;
    word-break: break-all;
    font-size: 14px;
    color: #fff;
    background-color: rgba(58, 58, 58, 0.9);
    border-radius: 3px;
    opacity: 0;
}

.react-toast-message.icon {
    padding: 15px;
    border-radius: 5px;
}

.react-toast-icon-wrapper {
    margin: 0 auto 10px;
    width: 36px;
    height: 36px;
}

.react-toast-loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-left-color: #108ee9;
    border-radius: 50%;
    -webkit-animation: loading 1s linear infinite;
    animation: loading 1s linear infinite;
}

@-webkit-keyframes loading {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
