.react-captcha {
  display: flex;
  flex-direction: column;
  max-width: 226px;
  background-color: #eee;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
}

.captcha-row {
  display: flex;
  align-items: stretch;
  margin: 0 0 10px 0;
}

.captcha-row:last-child {
  margin: 0;
}

.captcha-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 10px;
}

.captcha-canvas {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
}

.captcha-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: #fff;
  color: inherit;
  border: none;
  padding: 0;
  width: 25px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

.captcha-button svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.captcha-canvas {
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.captcha-input {
  width: 205px;
}

.captcha-ui-input {
  box-sizing: border-box;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border-radius: 3px;
  border: none;
  transition: all 0.2s;
  -webkit-appearance: none;
  text-overflow: ellipsis;
}

.captcha-ui-input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.captcha-ui-input::-ms-input-placeholder {
  color: #bfbfbf;
}

.captcha-ui-input::placeholder {
  color: #bfbfbf;
}

.captcha-ui-input:placeholder-shown {
  text-overflow: ellipsis;
}

.captcha-ui-input:hover {
  border-color: #aaaaaa;
  border-right-width: 1px !important;
}

.captcha-ui-input:focus,
.captcha-ui-input-focused {
  border-color: #aaaaaa;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 2px 1px rgba(200, 200, 200, 0.3);
}
