.react-ripple-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.react-ripple-wrap.react-ripple-overHidden {
  overflow: hidden;
}
.react-ripple-wrap .react-ripple {
  position: absolute;
  left: 0;
  top: 0;
  opacity: .5;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: currentcolor;
  will-change: height, transform, width;
}
.react-ripple-wrap .react-ripple-Effect {
  -webkit-animation: rippleEffect 1000ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: rippleEffect 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
@keyframes rippleEffect {
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes rippleEffect {
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
